<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container" style="margin-top: 40px;">
        <div class="row">
            <form action="/northwind/searchresults">
                <div>
                    <input type="text" class="form-control" name="minStock" placeholder="Min Stock" />
                </div>
                <div>
                    <input type="text" class="form-control" name="maxStock" placeholder="Max Stock" />
                </div>
                <div>
                    <button class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>